## logistic regression

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model, metrics
x_test = pd.read_csv(r'C:\Users\Shivangi\Desktop\Machine Learning\test_titanic.csv')
x_y_train= pd.read_csv(r'C:\Users\Shivangi\Desktop\Machine Learning\train_titanic.csv')

In [2]:
x_test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S
...,...,...,...,...,...,...,...,...,...,...
218,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S
219,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S
220,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
221,3,"Holm, Mr. John Fredrik Alexander",male,43.0,0,0,C 7075,6.4500,NaN,S
222,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S

In [3]:
x_y_train

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
663,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,1
664,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q,0
665,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,1

In [7]:
tm =x_y_train.groupby("Survived").mean()
tm
v1 = tm.iloc[0,:]
v2 = tm.iloc[1,:]
abs((v2-v1)/(v1+v2))

Pclass    0.128814
Age       0.046088
SibSp     0.060481
Parch     0.130110
Fare      0.329806
dtype: float64

In [8]:
x_y_train = x_y_train.drop(["Name","Ticket"], axis=1)

In [9]:
tm =x_y_train.groupby("Survived").mean()
tm
v1 = tm.iloc[0,:]
v2 = tm.iloc[1,:]
abs((v2-v1)/(v1+v2))

Pclass    0.128814
Age       0.046088
SibSp     0.060481
Parch     0.130110
Fare      0.329806
dtype: float64

In [10]:
x_y_train["Cabin"] = x_y_train["Cabin"].isna()
x_y_train = pd.get_dummies(x_y_train)
x_y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      668 non-null    int64
 1   Age         536 non-null    float64
 2   SibSp       668 non-null    int64
 3   Parch       668 non-null    int64
 4   Fare        668 non-null    float64
 5   Cabin       668 non-null    bool
 6   Survived    668 non-null    int64
 7   Sex_female  668 non-null    uint8
 8   Sex_male    668 non-null    uint8
 9   Embarked_C  668 non-null    uint8
 10  Embarked_Q  668 non-null    uint8
 11  Embarked_S  668 non-null    uint8
dtypes: bool(1), float64(2), int64(4), uint8(5)
memory usage: 35.4 KB

In [11]:
x_y_train["Age"][x_y_train["Age"].isna()] = x_y_train["Age"].mean()
x_y_train.count()

<ipython-input-11-517779e9243a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_y_train["Age"][x_y_train["Age"].isna()] = x_y_train["Age"].mean()

Pclass        668
Age           668
SibSp         668
Parch         668
Fare          668
Cabin         668
Survived      668
Sex_female    668
Sex_male      668
Embarked_C    668
Embarked_Q    668
Embarked_S    668
dtype: int64

In [12]:
x_y_train['Age'].mean()

29.700559701492537

In [19]:
x_test['Age'].mean()

29.694775280898877

In [20]:
x_test['Age'].fillna(x_test['Age'].median(), inplace = True)

In [21]:
x_test["Cabin"] = x_test["Cabin"].isna()
x_test = pd.get_dummies(x_test)
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Columns: 446 entries, Pclass to Embarked_S
dtypes: bool(1), float64(2), int64(3), uint8(440)
memory usage: 104.9 KB

In [22]:
x_test.isnull().sum()

Pclass                0
Age                   0
SibSp                 0
Parch                 0
Fare                  0
                     ..
Ticket_W./C. 6609     0
Ticket_W.E.P. 5734    0
Embarked_C            0
Embarked_Q            0
Embarked_S            0
Length: 446, dtype: int64

In [23]:
all_features =x_y_train .drop("Survived",axis=1)
Targeted_feature = x_y_train["Survived"]

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(all_features,Targeted_feature, test_size = 0.2,random_state = 10)

In [26]:
X_train = x_y_train.drop(['Survived'], axis=1)
y_train = x_y_train['Survived']
X_train.shape, y_train.shape, X_test.shape

((668, 11), (668,), (134, 11))

In [28]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\Shivangi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [29]:
print(logmodel.score(X_test,y_test))
pp = logmodel.predict(X_test)
print("Survived", sum(pp!=0))
print("NOT Survived", sum(pp==0))

0.8134328358208955
Survived 53
NOT Survived 81

In [30]:
submission = pd.DataFrame({
        "Survived": y_test})
submission['Survived'] = submission['Survived'].fillna(0)
submission

     Survived
522         0
375         0
102         0
27          0
619         0
..        ...
69          0
441         0
383         1
97          0
483         0

[134 rows x 1 columns]

In [31]:
submission.to_csv('predicted_logisticRegression.csv', index=False)